<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>662030055877-9qc3lqsbgif4k1ktl89dqeaec3m163i4.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.662030055877-9qc3lqsbgif4k1ktl89dqeaec3m163i4</string>
	<key>API_KEY</key>
	<string>AIzaSyADf3RoFvpNJY_-ATvoVSNqw-XNQ6kFQEg</string>
	<key>GCM_SENDER_ID</key>
	<string>662030055877</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>chat.rocket.ios</string>
	<key>PROJECT_ID</key>
	<string>rocket-chat</string>
	<key>STORAGE_BUCKET</key>
	<string>rocket-chat.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:662030055877:ios:9e1022f1ba3e431a</string>
	<key>DATABASE_URL</key>
	<string>https://rocket-chat.firebaseio.com</string>
</dict>
</plist>
