<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>en</string>
	<key>CFBundleDisplayName</key>
	<string>Rocket.Chat</string>
	<key>CFBundleExecutable</key>
	<string>$(EXECUTABLE_NAME)</string>
	<key>CFBundleIcons</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-29</string>
					<string>Black-40</string>
					<string>Black-60</string>
					<string>Black-76</string>
					<string>Black-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-29</string>
					<string>Blue-40</string>
					<string>Blue-60</string>
					<string>Blue-76</string>
					<string>Blue-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BnW</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BnW-29</string>
					<string>BnW-40</string>
					<string>BnW-60</string>
					<string>BnW-76</string>
					<string>BnW-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Grey</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Grey-29</string>
					<string>Grey-40</string>
					<string>Grey-60</string>
					<string>Grey-76</string>
					<string>Grey-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-29</string>
					<string>Red-40</string>
					<string>Red-60</string>
					<string>Red-76</string>
					<string>Red-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White-29</string>
					<string>White-40</string>
					<string>White-60</string>
					<string>White-76</string>
					<string>White-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-20</string>
				<string>AppIcon-29</string>
				<string>AppIcon-40</string>
				<string>AppIcon-60</string>
				<string>AppIcon-76</string>
				<string>AppIcon-83.5</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIcons~ipad</key>
	<dict>
		<key>CFBundleAlternateIcons</key>
		<dict>
			<key>Black</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Black-29</string>
					<string>Black-40</string>
					<string>Black-76</string>
					<string>Black-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Blue</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Blue-29</string>
					<string>Blue-40</string>
					<string>Blue-76</string>
					<string>Blue-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>BnW</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>BnW-29</string>
					<string>BnW-40</string>
					<string>BnW-76</string>
					<string>BnW-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Grey</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Grey-29</string>
					<string>Grey-40</string>
					<string>Grey-76</string>
					<string>Grey-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>Red</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>Red-29</string>
					<string>Red-40</string>
					<string>Red-76</string>
					<string>Red-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
			<key>White</key>
			<dict>
				<key>CFBundleIconFiles</key>
				<array>
					<string>White-29</string>
					<string>White-40</string>
					<string>White-76</string>
					<string>White-83.5</string>
				</array>
				<key>UIPrerenderedIcon</key>
				<false/>
			</dict>
		</dict>
		<key>CFBundlePrimaryIcon</key>
		<dict>
			<key>CFBundleIconFiles</key>
			<array>
				<string>AppIcon-20</string>
				<string>AppIcon-29</string>
				<string>AppIcon-40</string>
				<string>AppIcon-76</string>
				<string>AppIcon-83.5</string>
			</array>
			<key>UIPrerenderedIcon</key>
			<false/>
		</dict>
	</dict>
	<key>CFBundleIdentifier</key>
	<string>$(PRODUCT_BUNDLE_IDENTIFIER)</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>$(PRODUCT_NAME)</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>3.0.0</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>rocketchat</string>
				<string>com.googleusercontent.apps.662030055877-9qc3lqsbgif4k1ktl89dqeaec3m163i4</string>
			</array>
		</dict>
	</array>
	<key>CFBundleVersion</key>
	<string>177</string>
	<key>Fabric</key>
	<dict>
		<key>APIKey</key>
		<string>12ac6e94f850aaffcdff52001af77ca415d06a43</string>
		<key>Kits</key>
		<array>
			<dict>
				<key>KitInfo</key>
				<dict/>
				<key>KitName</key>
				<string>Crashlytics</string>
			</dict>
		</array>
	</dict>
	<key>ITSAppUsesNonExemptEncryption</key>
	<false/>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>org-appextension-feature-password-management</string>
		<string>googlechromes</string>
		<string>googlechrome</string>
		<string>opera-http</string>
		<string>firefox</string>
	</array>
	<key>LSRequiresIPhoneOS</key>
	<true/>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoadsInWebContent</key>
		<true/>
		<key>NSExceptionDomains</key>
		<dict>
			<key>rocket.chat</key>
			<dict>
				<key>NSExceptionAllowsInsecureHTTPLoads</key>
				<true/>
				<key>NSIncludesSubdomains</key>
				<true/>
			</dict>
		</dict>
	</dict>
	<key>NSCameraUsageDescription</key>
	<string>To take photos and record videos</string>
	<key>NSMicrophoneUsageDescription</key>
	<string>To record and upload audio and videos</string>
	<key>NSPhotoLibraryAddUsageDescription</key>
	<string>To save images to your library</string>
	<key>NSPhotoLibraryUsageDescription</key>
	<string>To upload photos from your library</string>
	<key>RC_MIN_SERVER_VERSION</key>
	<string>0.54.0</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>fetch</string>
	</array>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>UIMainStoryboardFile</key>
	<string>LaunchScreen</string>
	<key>UIRequiredDeviceCapabilities</key>
	<array>
		<string>armv7</string>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UIViewControllerBasedStatusBarAppearance</key>
	<false/>
</dict>
</plist>
